{% extends 'base.html' %}

{% block content  %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
{% for reversal in object_list %}
<div class="container" content>
    <div class="card mb-5" style="width: 38rem;">
        <div class="card-body">
            <h5 class="card-title">{{ reversal.shopping_event.item.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ reversal.shopping_event.item.price }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ reversal.shopping_event.count_of_items }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ reversal.shopping_event.event_date_time }}</h6>
        </div>
    </div>
</div>
<form action="{% url 'reversal_update_url' reversal.pk %}" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{reversal.shopping_event.pk}}" name="shopping_event">
    <input type="hidden" value="{{reversal.pk}}" name="reversal_event">
    <input type="submit" name="decision" value="Submit">
</form>
<form action="{% url 'reversal_decline_url' reversal.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="decision" value="Decline">
</form>
{% endfor %}
{% endblock %}